@charset "UTF-8";
@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }
html, body {
		font-size: 100%;
		width: 100%;
		height: 100%;
		margin: 0;
		vertical-align: baseline;
	}
	body {
		font: 13px/21px  "맑은고딕", "Malgun Gothic",Dotum, "돋움", sans-serif;
		color: #777777;
		background-color: white;
		overflow-x: hidden;
		font-style: normal;
	}
	i{
		color: #F05E22;
	}
	a {
		color: #F05E22;
		text-decoration: none !important;
	}
	a:hover{
		color: #FFAF0A;
	}
	img{
		width:90px;
	}
	button{
		background-color:white;
    	border-radius:2px;
    	margin-bottom: 5px;
    	background-color: #dedede;
	    padding: 10px;
	    border: 0;
	    box-shadow: 0 2px 1px rgba(0, 0, 0, .25);
	    cursor:pointer;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: "Open Sans", Arial, sans-serif;
		color: #2a3f52;
		font-weight: 700;
	}
	h1 {
		font-size: 2.6em;
	}
	
	h2 {
		font-size: 2.2em;
	}
	
	h3 {
		font-size: 1.8em;
	}
	
	h4 {
		font-size: 1.4em;
	}
	
	h5 {
		font-size: 1em;
	}
	
	h6 {
		font-size: .8em;
	}
	ul,
	ol {
		margin-top: 0;
		margin-bottom: 10px;
	}
	ul ul,
	ol ul,
	ul ol,
	ol ol { 
		margin-bottom: 0;		
	}
	.wrap{
		width: 100%;
    	height: 100%;
	}
	 /* 헤더 관련 */
	.site-header{
		height:90px;
		width:100%;
		z-index:3;
	}
	.goBoard{
		height:42px;
		width:100%;
		z-index:2;
	}
	.site-header-map{
		background-color:white;
		width:100%;
	}
	.top-header{
		position:relative;
		text-align:center;
		height:10%;
		border-bottom: 1px solid #FAF58C; 
	}
	.top-header-left{
		position:absolute;
		width:15em;
		top:50%;
		left:20%;
		transform:translate(-50%,-50%);	/* div안에 div 세로정렬하기 */
	}
	.top-header-left a{
		border-left: 1px solid #FAF58C;
		font-size:1.3em;
		padding:3%;
	}
	.top-header-left a:last-child{
		border-right: 1px solid #FAF58C;
	}
	.main-header{ 
		position:relative;
		height:40px;
	    border-bottom: solid 5px #F05E22;
	    background-color:white;
	}
	.logo{
		height:100%;
		padding:8px;
		display:inline-flex;
	}
	.logo img{
		width:37px;
		height:30px;
	}
	.logo a{
		margin-top:4px;
	}
	.btn-header{
		float:right;
		height:100%;  
	}
	.btn-header button{
		height:100%; 
		background-color:inherit;
		border:none;
		padding:0px 15px;
		cursor:pointer;
		box-shadow:none;
		outline: none;
	}
	.btn-header i{
		font-size:20px; 
		color:black;
	}
	.cntNewNotice{
	    position: absolute;
	    right: 55px;
	    top: 2px;
	    border-radius: 15px;
	    width: 20px;
	    height: 20px;
	    text-align: center;
	    z-index: 2;
	    background: #F05E22;
	    color: white;
	    font-weight: bold;
	    cursor:pointer;
	}
	.main-header a{
		font-size:1.8em;
		font-family: 'BMJUA';
	}
	.main-nav{
		height:50px; 
		color: white;
		text-align: center;
	}
	.main-nav ul{
		background-color: #F05E22;
		list-style: none;
	}
	.main-nav .list-menu ul li{
		display: inline-block;
		padding: 15px 80px;
	}
	.main-nav a{
		color:white;
	}
	.main-nav .list-menu ul li a {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 700;
	}
	.main-nav .list-menu ul li a:hover {
		color: #2f4f4f;
	}
	.fixed {
		position:fixed;
		top:0px; 
	}
	
	/* 푸터 관련 */
	.site-footer{
		display: block;
	    position: relative;
	    height:120px;
	    margin-top:50px;
	    background-color: #ebebeb;
	    color: #656565;
	}
	.site-footer img{
		width:100px;
		padding:18px;
	}
	.footerDiv span{
	    position: relative;
	    top: -50px;
	    left: 30px;
	}
	.footerNav{
	    float: right;
	    line-height: 90px;
	    padding: 18px;
	}
	.footerNav a{
		padding: 0 15px;
		color:#656565;
		cursor:pointer;
		text-decoration: underline !important;
	}
	/* 검색 관련 */
	.search { 
		display:none;
		height:517px;
		width:100%;
		position: fixed;
		z-index: 3;
		top: 40px;
		right: 0;
		background-color: green;
		overflow-y: hidden;
	}
	.closeSearch{
		color: black;
	    font-size: 5em;
	    padding-bottom:10px;
	    position:absolute;
	    right:2%;
	    margin-top:2%;
	    z-index:5;
	    cursor:pointer;
	}
	.searchOpen{
		display:block;
		height:450px;
		width:100%;
		position: fixed;
		z-index: 3;
		top: 45px;
	    right: 0;
	    border-bottom: solid 5px #F05E22;
	    background-color: #FFE650;
	    overflow-y: hidden;
	    color: black;
	}
	.search-header{
		width:100%;
		display:inline-flex;
	}
	.search-name{
		width:80%;
		font-size:1.3em;
	}
	.search-back{
		width:20%;
	}
	.searchSection{
		width: 90%;
   	 	margin: 0 auto;
   	 	margin-top:20px;
	}
	.searchWrap{
		width: 90%;
    	margin: 0 auto;
	}
	.searchForm{
		width:100%;
		border-bottom:solid 3px #F05E22;
	}
	.searchText{
		width: 94%;
	    background: white;
	    padding: 20px;
	    background-color: inherit;
    	border: none;
   	    font-size: 2em;
	}
	.searchIcon{
	    position: relative;
        font-size: 3em;
	    top: 5px;
	    left: 20px;
	    outline:none;
	}
	.searchTable{
		width:90%;
		margin:0 auto;
		font-size:1.3em;
	}
	.searchKeywordDiv, .searchLocationDiv{
	    height: auto;
    	display: flow-root;
	}
	.ul-searchKeyword{
		list-style:none;
		display: contents;
	}
	.li-searchKeyword{
		float: left;
	    text-align: center;
	    width:20%;
	}
	.span-searchKeyword{
	    border: solid 1px #F05E22;
        padding: 5px 10px;
	    display: block;
	    height: 40px;
    	line-height: 40px;
	}
	.span-searchKeyword i{
		color:gray;
	}
	.span-searchKeyword a{
	    padding: 5px 5px;
	    color:gray;
	}
	
	/* 알림 관련 */
	.notice { 
		display:none;
		height: 500px;
   	 	width: 400px;
		position: fixed;
		z-index: 3;
		top: 40px;
		right: 0;
		background-color: #FADCA5;
		border:solid 1px;
	    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	    overflow:hidden;
	}
	.notice-header{
		width:100%;
		display:inline-flex;
		background-color:white;
		border-bottom: solid 1px #dddfe2;
	}
	.notice-headerName{
		font-size:1.3em;
		margin:0;
		padding:5px 10px;
	}
	.notice-headerName2{
		font-size:1em;
		margin:0;
		padding:3px 10px;
	}
	.goAllConfirm{
		position: absolute;
	    right: 5px;
	    font-size: 12px;
	    text-decoration: underline !important;
	    color: black;
	    cursor:pointer;
	}
	.notice-back{
		width:20%;
	}
	.newNotice-header, .oldNotice-header{
		width:100%;
		display:inline-flex;
		background-color:#FAC87D;
		border-bottom: solid 1px #dddfe2;
	}
	.newNotice-content ul {
		list-style:none;
		padding:0;
		margin:0;
	}
	.newNoticeContent, .oldNoticeContent{
		width:100%;
		height:60px;
		padding:5px;
		border-bottom: solid 1px #dddfe2;
		background-color: #FF9D6E;
		cursor:pointer;
	}
	.oldNoticeContent{
		background-color: inherit;
	}
	.checkNotice{
		color:#2a3f52;
	}
	.checkNotice:hover{
		color:#8c8c8c;
	}
	.noticeProfile{
	    border-radius: 70px;
	    padding: 10px;
	    width: 30px;
	    height: 30px;
	    margin: 0 auto;
	    background-color:indigo;
	}
	.noticeProfile img{
		width:30px;
	}
	.noticeContentTable td{
	    padding: 0 5px;
	    font-size: 12px;
	}
	.updateConfirm, .noConfirm{
        position: absolute;
	    right: 0;
	    padding: 10px 20px;
	    margin-top:-68px;
	    cursor: pointer;
	    display:none;
	}
	.deleteNotice{
	   position: absolute;
	    right: 0;
	    padding: 10px 21px;
    	margin-top: -45px;
	    cursor: pointer;
	    display:none;
	}
	.updateConfirm i, .noConfirm i, .deleteNotice i{
		color:black;
	}
	/*scrollbar 꾸미기*/
	::-webkit-scrollbar {
		width: 8px; 
		height: 8px; 
		border: 3px solid #fff; 
	}
	::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
		display: block; 
		height: 10px; 
		background: url('./images/bg.png') #efefef;
	}
	::-webkit-scrollbar-track {
		background: #efefef; 
		-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2);
	}
	::-webkit-scrollbar-thumb {
		height: 50px; 
		width: 50px; 
		background: rgba(0,0,0,.2); 
		-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1);
	}
	
	
	/* 메뉴바 관련 */
	.sidenav { 
		display:none;
		width:300px;
		height:396px;
		position: fixed;
		z-index: 3;
		top: 40px;
		right: 0;
		background-color: #F05E22;
		overflow-x: hidden;
		box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	}
	.profileIcon{
	    border-radius: 70px;
	    padding: 20px;
	    width: 100px;
	    height: 100px;
	    margin: 0 auto;
	    margin-top: 10px;
        margin-bottom: 5px;
	    background-color:indigo;
	}
	.sidenav a {
		font-size: 1.4em;
		color: white;
		display: block;
		transition: 0.3s; 
		border:solid 1px black;
	}
	.slideBtn {
		transition: .5s;
		position: fixed;
		right: 0;  
		font-size:30px;
		cursor:pointer;
		margin-right:10px;
	}
	.back-menu{
		float:right;
	}
	.side-login{
		background-color:white;
		height:180px;
		border:solid 1px;
		text-align:center;
	} 
	.side-login i{ 
		width:150px;
		height:150px;
		font-size:11em;  
		color:gray;
	}
	.side-login a{
		background-color:inherit;
		font-size:1.4em;
		border:none;
	    color: black;
	}
	.logout-btn{
		padding: 2px 5px;
	    background-color: #f05e22;
	    color: white;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	}
	.sidenav-btn{
		width:100%;
		height:100px;  
		display:inline-flex;
		text-align:center;
		border:solid 1px;  
	}
	.sidenav-btn a{
		width:25%;
	}
	.sidenav-menu i{
		float:right;
		color:white;
	}
	.slide-btn{
		padding : 10px 50px;
	}
	
	.main-content{
		width:100%; 
		min-height: 100%;
	    height: auto !important;
	    height: 100%;
	}
	.event, .boardDetail-image{
		display:table;
		text-align:center; 
		margin: 0 auto; 
		width:100%;
		height:30%;
		position:relative;
	}
	.event-content, .goSimilarDiv{
		width:100%;
		height:400px;
		overflow:hidden;
	    margin-top: 5px;
	}
	.board-content-image, .goSimilarBoard{
		width:100%;
		height:300px;
		overflow:hidden;
	}
	.event-ul, .board-content-image-ul, .similar-ul{
		list-style: none;
	    width: 500%;
	    margin: 0;
	    padding: 0;
	    position: relative;
	}
	.board-content-image-ul{
		top:-100px;
	}
	.event-li, .board-content-image-li, .similar-li{
		width:100%;
	}
	.event-content img, .board-content-image img, .goSimilarBoard article{
		width: 20%; 
		float: left;
		height:140%;
		min-height: 300px;
	}
	.event-slider a, .board-content-image-slider a{
		position: absolute;
	    height: 100%;
	    width: 50px;
	    top: 0;
	    z-index:1;
	}
	.event-slider #event-slider-left, .board-content-image-slider #board-content-image-slider-left{
		left:0;
	}
	.event-slider #event-slider-right, .board-content-image-slider #board-content-image-slider-right{
		right:0;
	}
	.event-slider i{
		font-size:2.2em;
		position: relative;
    	top: 175px;
    	color:rgba(255,255,255,0.2);
	}
	.board-content-image-slider i{
		font-size:2.2em;
		position: relative;
    	top: 135px;
    	color:rgba(255,255,255,0.2);
	}
	
	
	.signUp{
		text-align:center;
	}
	.signUpProgress{
		display:inline-grid;
		width:80%;
		text-align:left;
	}
	.progressTable{
		margin-bottom:40px;
		text-align:center;
		border-spacing:0px;
	}
	.td-prog{
		padding-top:15px;
		border:solid 1px;
		width:33%;
		background-color:#778899;
	}
	.ul-progress{
		padding:0;
		margin:0;
		list-style:none;
	}
	.img-progress{
		width:35px;
	}
	.progressLine{
		width:100%;
	}
	.signUpDiv{
		display:inline-grid;
		width:80%;
	}
	.extraForm{
		display:inline-grid;
	}
	.td-1{ 
		width:100px;
	}
	.td-2{
		width:300px; 
		text-align:left;
	}
	/*키워드*/
	.td-keyword1{
		width:100px;
	    padding: 10px 0 210px 0;
	}
	.td-keyword2{
		width:300px; 
	    padding: 10px 0 50px 0;
	}
	.ul-keyword, .ul-contractPeriod, .ul-offday{
		list-style:none;
		display: contents;
	}
	.li-keyword{
		float: left;
	    width: 150px;
	    padding: 10px 15px 10px 1px;
	    text-align: center;
	}
	.span-keyword, .span-type{
	    border: solid 1px;
        padding: 5px 10px;
	    border-radius: 3px;
	    display: block;
	    width: 120px;
	    height: 30px;
	    line-height: 30px;
	    box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
	}
	.span-keyword i, .span-type i{
		color:gray;
	}
	.span-keyword a, .span-type a{
	    padding: 5px 5px;
	    color:gray;
	}
	#keywordRegist, #typeRegist{
		margin-left:5px;
		margin-right:10px;
	    padding: 10px;
	    border: 0;
	}
	#keywordSelected .td-2 button,
	#typeSelected .td-2 button{
		margin-right:10px;
	}
	#keywordSelected .td-2 a,
	#typeSelected .td-2 a{
		color:gray;
		font-weight: bold;
	}
	#imageClear{
		font-weight:bold;
	}
	#keywordDetail{
		display:inline-flex;
		margin-top: 15px;
		width:500px;
	}
	.keywordSpan{
    	height: 25px;
	    border: solid 1px #F05E22;
	    padding: 5px 20px;
	    margin: 5px 5px;
	    border-radius: 10px;
	    background-color: #F05E22;
	    color: white;
	    font-size: 0.8em;
	}
	.keywordSpan a{
		color:white;
		font-weight:bold;
	}
	
	
	.signUpMsg{
		margin:5px;
	}
	.img-pw{
		width:20px;
	}
	.inputNorm{
		border:solid 1px;
		padding:10px;
	} 
	.inputCen{
		border:solid 1px;
		padding:10px;
	}
	.inputtel input{
		text-align:center;
	}
	.td-2 input{
		width:300px;
		font-size:1.4em;
		border:none;
	}
	.td-2 select{
		border:none;
	}
	.td-tel{
		width:300px; 
		text-align:left;
	}
	.td-tel input{
		width:91px;
		font-size:1.4em;
		border:none;
	}
	.btnSearchAddress{
	    padding: 5px;
    	margin-left: 10px;
	    padding: 10px;
	    border: 0;
	    box-shadow: 0 2px 1px rgba(0, 0, 0, .25);
	}
	.signUpbtn button{
		font-size: 1.4em;
	    padding: 15px 39%;
	    background-color: #F05E22;
	    color: white;
	    font-weight: bold;
	    margin-top: 20px;  
	}
	.imgs_wrap{
		display:inline-flex;
	}
	.imgs_wrap0{
		width:150px;
		height:150px; 
		border:solid 1px;
	}
	.imgs_wrap1{
		width:150px;
		height:150px; 
		border:solid 1px;
	}
	.imgs_wrap2{
		width:150px;
		height:150px; 
		border:solid 1px;
	}
	.imgs_wrap0 img{ 
		width:150px;
		height:150px;
	}
	.imgs_wrap1 img{ 
		width:150px;
		height:150px;
	}
	.imgs_wrap2 img{ 
		width:150px;
		height:150px;
	}
	
	.signEnd{
		text-align:center; 
	}
	.signEndLogo{
		width: 400px;
	    margin-top: 20px;
	}
	
		
	/*제안서 관리, 공고문 관리*/
	.proposal, .userBoard{
		text-align:center;
		margin-top:50px;
	}
	.proposal-header, .userBoard-header{
		width:80%;
		display:inline-grid;
		text-align:left;
	}
	.proposal-explain, .userBoard-explain{
		background-color:#ffa07a;
	}
	.proposalList, .userBoardList{
		width:80%;
		display:inline-grid;
		margin-top:50px;
	}
	.btnRegistProposal, .btnRegistBoard {
		width:110px;
		position:absolute;
		right:10%;
		padding:3px 10px;
	}
	.udtuserBoard, .deluserBoard,
	.udtProposal, .delProposal, .btnGoBoardWrite{
		padding: 5px 10px;
	}
	.proposalDiv, .userBoardDiv{
	    position: relative;
	    top: 25px;
	    margin-top: 15px;
	}
	.proposalTable, .proposalTable2, .userBoardTable{
		width:100%;
	    border-collapse: collapse;
	    border-spacing: 0;
	    empty-cells: show;
	}
	.proposalTable th, .proposalTable2 th, .userBoardTable th{
		border-top: solid 2px;
    	border-bottom: solid 1px;
    	padding: 0;
	}
	.proposal-tr, .userBoard-tr{
		border-bottom: solid 1px gray;
	}
	.proposal-td-1, .userBoard-td-1{
		width:40%;
	}
	.proposal-td-2, .userBoard-td-2{
		width:30%;
	}
	.proposal-td-3, .userBoard-td-3{
		width:20%;
	}
	.td-control{
		display: inline-grid;
		padding: 5px;
	}
	.registbtn{
		padding: 30px;
	    display: inline-flex;
	    width: 80%;
	}
	
	/*제안서작성*/
	.proposal-write, .board-write{
	    width: 80%;
	    text-align: center;
	    margin: 0 auto;
	}
	#proposalWriteForm, #boardWriteForm{
		width:100%;
	}
	.titleCheck{
		color: red;
	    font-weight: bold;
	    margin-top: 20px;
	}
	.precaution{
		margin-bottom: 25px;
	    margin-top: 10px;
	    width: 100%;
	}
	.precautionTable{
		width:100%;
	}
	.precautionTable input {
		width:80%;
	}
	.precautionTable button{
		margin: 10px;
	}
	.precautionTable td{
		display:none;
	}
	.td-precaution5{
		padding-top:10px;
	}
	
	
	/* The Modal (background) */
	.modal {
     display: none; /* Hidden by default */
	 position: fixed; /* Stay in place */
	 z-index: 1; /* Sit on top */
	 left: 0;
	 top: 0;
	 width: 100%; /* Full width */
	 height: 100%; /* Full height */
	 overflow: auto; /* Enable scroll if needed */
	 background-color: rgb(0,0,0); /* Fallback color */
	 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 5% auto; /* 15% from the top and centered */ 
		padding: 30px; 
		border: 1px solid #888; 
		width: 85%; /* Could be more or less, depending on screen size */                          
	}
	/* The Close Button */
	.close, .close2, .closeQna, .closeReply {
	    color: #aaa;
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	    padding-bottom:10px;
	}
	.closeQna, .closeReply{
		color:white;
	}
	.close:hover,
	.close:focus,
	.close2:hover,
	.close2:focus,
	.closeQna:hover,
	.closeQna:focus,
	.closeReply:hover,
	.closeReply:focus {
	    color: black;
	    text-decoration: none;
	    cursor: pointer;
	}
	.closeQna:hover,
	.closeQna:focus{
	}
	.proposalHeader, .boardWriteHeader{
		font-size: 1.8em;
	    padding: 20px;
	    font-weight: bold;
	}
	.proposalBtn{
		position: relative;
		text-align:right;
		display: flex;
		padding:20px;
	}
	.writeBtn{
		padding:20px 0;
	}
	.writeBtn button{
		width:100%;
	}
	.proposalBtn .udtProposal, .proposalBtn .delProposal{
		width:50%;
		background-color:#F05E22;
		border-radius:10px;
		color:white;
		border:solid 1px #c8c8c8;
	}
	.modal-proposalContent, .modal-userBoard-proposalListContent{
		text-align:center;
	}
	.boardWriteContent, .proposalWriteContent{
        display: inline-block;
	    text-align: left;
	    border: solid 2px #F05E22;
	    border-radius: 10px;
	    background-color: white;
	    padding: 40px 13%;
	    margin-top: 15px;
	    box-shadow: 0 2px 1px rgba(0, 0, 0, .25);
	}
	.boardWriteContent span, .proposalWriteContent span,
	.boardWriteContent textarea, .proposalWriteContent textarea{
		background-color:white;
		box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
	}
	.boardWriteContent button, .proposalWriteContent button{
		box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
		background-color:#F05E22;
		color:white;
	}
	#selectKeyword i{
		color:white;
	}
	.boardWriteContent h4, .proposalWriteContent h4{
		margin-bottom:0;
	}
	.boardWriteContent input, .proposalWriteContent input{
		border:none;
	}
	.boardWriteContent #title, .proposalWriteContent #title{
		width:633px;
	}
	.contractPeriod{
		margin-top:10px;
	}
	.ul-contractPeriod{
		list-style:none;
		display: contents;
	}
	.li-contractPeriod{
		float: left;
	    text-align: center;
	}
	.span-contractPeriod{
		border: solid 1px;
        padding: 5px 10px;
	    border-radius: 3px;
	    display: block;
	}
	.span-contractPeriod i{
		color:gray;
	}
	.span-contractPeriod a{
	    color:gray;
	}
	.offday{
		margin-top:10px;
	}
	.ul-offday{
		list-style:none;
		display: contents;
	}
	.li-offday{
		float: left;
	    text-align: center;
	}
	.span-offday{
		border: solid 1px;
        padding: 5px 10px;
	    border-radius: 3px;
	    display: block;
	}
	.span-offday i{
		color:gray;
	}
	.span-offday a{
	    color:gray;
	}
	.btnProposalWrite{
		width:100%;
	}
	.btnBoardWrite{
		margin-top:1.33em;
		float:right;
	}
	.typeTable-bw{
		width:100%;
		margin-top:20px;
	}
	.keywordTable-bw{
		width:100%;
	}
	.keywordTable-bw .td-keyword1{
		width:110px;
	}
	.keywordTable-bw .td-keyword1 h5{
		font-size:0.9em;
	}
	.keywordTable-bw .td-keyword2{
		width:350px;
		padding:0;
	}
	.proposalDetail{
	    width: 70%;
    	margin: 0 auto;
    	border: solid 2px #F05E22;
	    border-radius: 10px;
	    background-color: white;
	    margin-top: 15px;
	    padding: 10px 40px;
    	font-size: 1.2em;
	    box-shadow: 0 2px 1px rgba(0, 0, 0, .25);
	}
	.proposalDetailTable, .seller-ProposalDetail, .space-ProposalDetail{
		text-align:left;
		width:100%;
		padding:10px;
	}
	.proposalDetailTable #keywordDetail{
		width:580px;
	}
	.proposal-image{
		width: 100%;
	    height: 150px;
	    display: inline-flex;
	    margin-top: 20px;
	}
	.proposal-image1, .proposal-image2,
	.proposal-image3{
		width: 150px;
	}
	.proposal-image1 img, .proposal-image2 img,
	.proposal-image3 img{
		width: 100%;
		height:100%;
	}
	
	
	/*제안서 작성*/
	.proposalWrite{
		text-align:center;
		margin-top:30px;
	}
	.memberInfoDiv, .proposalWriteDiv, .seller-ProposalDiv{
		width:80%;
		display:inline-grid;
		margin-top:50px;
	}
	.divHeader{
		text-align:left;
	}	
	.proposalForm{
		display:inline-grid;
	}
	
	input[type=file] {
        display: none;
    }

    .my_button {
        display: inline-block;
        width: 100px;
        text-align: center;
        padding: 10px;
        background-color: #F05E22;
        color: white;
        font-weight:bold;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 2px 1px rgba(0, 0, 0, .25);
    }
    .imgs_wrap {
        border: 2px solid #A8A8A8;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 360px;
        height: 100px;
        box-shadow:0 2px 1px rgba(0, 0, 0, .25);
    }
    .imgs_wrap img {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    
	/*지원 관리*/
	.profileIcon-request{
		border: solid 1px white;
	    border-radius: 70px;
	    padding: 10px;
	    width: 40px;
	    height: 40px;
	    margin: 0 auto;
	    margin-top: 10px;
	    background-color:indigo;
	}
	.profileIcon-request img{
		width:40px;
	}
	.request, .contract{
		margin-top:50px;
	    width: 90%;
  	  	margin: 0 auto;
	}
	.contract button{
		padding: 5px 10px;
	}
	.request-header, .contract-header{
	    width: 90%;
	    margin: 0 auto;
	    text-align:center;
	}
	.requestHeaderTable, .contractHeaderTable{
		width:100%;
		height:45%;
	    border: solid 1px;
		padding:10px;
	}
    .td-requestProfileImage{
    	width:30%;
    }
    .requestHeaderTable i{
    	font-size:8em;
    }
    .td-requestHeader{
    	width:35%;
    }
    .request-explain{
    	background-color: #ffa07a;
	    text-align: left;
	    padding: 10px 5%;
    }
    .requestList, .userRequest, .userContract{
    	width:90%;
    	margin:0 auto;
    }
    .requestTable, .listRequestTable, .requestResult, .contractTable{
    	width:100%;
		height:100%;
		padding:10px;
		border-top: solid 1px;
    	border-bottom: solid 1px;
	    margin: 0 auto;
    }
    .listRequestTable, .requestResult{
    	background-color: gray;
    }
    .requestTable td, .listRequestTable td, .requestResult td, .contractTable td{
    	width:20%;
    }
    .td-boardTitle{
    	width:80%;
    }
    .clickListRequest, .clickListMyRequest{
    	cursor:pointer;
    }
    .listRequestUserProfile{
    	width:20%;
    	text-align:center;
    }
    .listLine{
    	border-bottom:solid 1px black;
    }
    .goContractDetail{
    	cursor:pointer;
    }
    .goHanasi{
    	cursor:pointer;
    }
    
    /*게시판*/
    .r-bSeller, .r-bSpace, .r-bProduct,
    .bSeller, .bSpace, .bProduct{
    	width:90%;
    	height:auto;
		margin: 10px auto;
    }
    .r-bSeller-header, .r-bSpace-header, .r-bProduct-header,
    .bSeller-header, .bSpace-header, .bProduct-header{
		margin:0 auto;
	}
    .r-bSeller-content, .r-bSpace-content, .r-bProduct-content{
    	width: auto;
	    display: block;
    }
    .bSeller-content, .bSpace-content, .bProduct-content{
   	    width: auto;
	    display: block;
    }
	.box_seller, .box_space, .box_product, .box_search{
		width:auto;
		max-width: 350px;
		padding:3%;
	    display: inline-block;
	}
	.inner{
		overflow:hidden;
		border:solid 1px #dcdcdc;
		background-color: #fefefe;
	    height: 300px;
		max-height: 300px;
		box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	}    
	.img_border{
	    width: 350px;
	    height: 200px;
	    overflow: hidden;
	}
	.img_area, .info_area{
		text-align:center;
	}
    .img_area_image{
    	width:20%;
    	height:200px;
    	overflow:hidden;
    	float:left;
    }
    .img_area_button{
    	display: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
    }
	.img_area {
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
		width: 350px;
	    height: 200px;
	    overflow: hidden;
	}
	.aaa {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
	}
    .board-ul{
   	    list-style: none;
   	    width:500%;
	    margin: 0;
	    padding: 0;
	    position: relative;
    }
    .board-li{
    	width:100%;
    }
    .board-img-slider{
    	height:0;
    	display:none;
    	transition:0.5s
    }
    .board-img-slider-btn{
    	width:50px;
    	height:200px;
    	position:relative;
    	top:-200px;
    	border: none;
    	overflow: hidden;
    	cursor:pointer;
    	outline:0;
    }
    .board-img-slider-btn i{
    	color:white;
    }
    .board-img-slider #slide-left{
    	background: linear-gradient(to left, rgba( 255,255,255, 0.2 ), rgba( 125,125,125, 0.4 ));
    }
    .board-img-slider #slide-right{
    	left:245px;
    	background: linear-gradient(to left, rgba( 125,125,125, 0.4 ), rgba( 255,255,255, 0.2 ));
    }
    .board-img-slider a{
	    height: 100%;
	    width: 50px;
	    top: -105px;
	    z-index:1;
    }
    .board-img-slider-left{
    	background: linear-gradient(to left, rgba( 255,255,255, 0.2 ), rgba( 125,125,125, 0.4 ));
    }
    .board-img-slider-right{
   	    left:245px;
    	background: linear-gradient(to left, rgba( 125,125,125, 0.4 ), rgba( 255,255,255, 0.2 ));
    }
    .board-img-slider i{
		font-size:1.8em;
		position: relative;
	}
    .info_area{
    	border-top: solid 1px #dcdcdc;
    	text-align:left;
    }
    .info_area h4{
    	margin: 10px 15px;
    }
    .tag_area{
    	
    }
    .tag_area h5{
    	overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
    	margin: 10px 15px;
    }
    .tag_area a{
    	margin : 0 5px;
    }
    .detail_area h5{
    	margin: 10px 15px;
    	text-align:right;
    }
    .fa-heart{
    	color:red;
    }
    .fa-eye{
    	color:black;
    }
    .fa-comment-dots{
    	color:black;
    }
    
    /* 공고문 상세 페이지 */
    .board{
    	width:55%;
    	height:auto;
  	    padding: 10px;
  	    margin: 0 5%;
    }
    .contractWindow, .contractWindow2{
   	    width: 28%;
	    height: 450px;
	    position: absolute;
	    top: 380px;
	    right: 5%;
	    padding:2%;
    }
    .fixed-contract{
    	position:fixed;
    	top:60px;
    }
    .board-title{
    	font-weight:400;
    }
    .type{
    	font-size:1.4em;
    }
	.board-keyword{
	    border: solid 1px;
	    border-radius: 10px;
	    padding: 5px;
	    margin-right: 5px;
	}
	.board-content{
		margin-top:50px;
	}
	.board-h{
		margin-top:
		margin-bottom:15px;
	}
	.board-hr{
	    width: 50px;
	    height: 4px;
	    left: 0;
	    display: inline-block;
	    border: none;
		background-color:#F05E22;
	}
	.board-image{
		width:100%;
		height:250px;
		display:inline-flex;
		margin-top:20px;
		padding: 10px;
	}
	.board-image1, .board-image2, .board-image3{
		width:33%;
	}
	.board-img{
		width:100%;
		height:200px;
	}
	#staticMap{
		width:550px;
		height:350px;
		margin-left: 10px;
	}
	.board-comments, .boardInfoTable td,
	.boardPrecautionTable td, .board-address,
	.comment-table td{
		font-size:14px;
		padding:10px;
	}
	.board-comments{
		white-space: pre-wrap;
	}
	
	
	/* Q&A */
	.board-comment-write{
	    position: relative;
	    left: 85%;
	    top: 45px;
	    padding: 10px;
	    border-radius: 30px;
	    background-color:#F05E22;
	    color:white;
	}
	.modal-board-qna{
		position: fixed;
	    display: block;
	    top: 50%;
	    left: 50%;
	    margin-bottom: 0px;
	    width: 510px;
	    height: 400px;
	    transform: translate(-50%, -50%);
	}
	.modal-board-qnaReply{
		position: fixed;
	    display: block;
	    top: 45%;
	    left: 50%;
	    margin-bottom: 0px;
	    width: 600px;
	    height: 500px;
	    transform: translate(-50%, -50%);
	}
	.modal-board-qnaHeader, .modal-board-qnaReplyHeader{
		padding: 20px 25px 8px;
	    border-radius: 12px 12px 0 0;
	    background: #F05E22;
	    font-size: 20px; 
	    color: white;
	    height:40px;
	}
	.modal-board-qnaContent{
	    border-radius: 0 0 12px 12px;
	    padding: 24px 26px 26px;
	    vertical-align: middle;
	    background-color:white;
        height: 280px;
	}
	.modal-board-qnaReplyContent{
	    border-radius: 0 0 12px 12px;
	    padding: 26px 30px 30px;
	    vertical-align: middle;
	    background-color:white;
        height: 430px;
	}
	.modal-board-qnaInsert, .modal-board-qnaReplyInsert{
	    margin-top: 0;
    	border-top: 0;
   	    padding: 0;
   	    width: 90%;
	}
	.modal-board-qnaReplyQuestion{
		vertical-align: top;
	    width: 100%;
	    font-size: 15px;
	    height: 100px;
	    border: solid 2px #FFD9E4;
	    padding: 15px;
	    border-radius: 15px;
	}
	.modal-board-qnaReplyComments,.replyInsertTextarea{
	    font-size: 15px;
	    border: solid 2px lightblue;
	    height: 100px;
	    padding-bottom: 15px;
	    padding: 15px;
	    width: 100%;
	    border-radius: 15px;
	}
	.modal-board-qnaHead{
		vertical-align: top;
		width:100%;
		padding-bottom: 15px;
		font-size: 20px;
	}
	.modal-board-qnaReplyHead{
		vertical-align: top;
		width:100%;
		padding-bottom: 15px;
		font-size: 20px;
		margin-top: 20px;
	}
	.qnaInsertTextarea{
		height: 100px;
	    display: inline-block;
	    position: relative;
	    width: 100%;
	    background-color: white;
   		vertical-align: top;
   		font-size: 15px;
   		border: solid 2px #FFD9E4;
	    padding: 15px;
	    border-radius: 15px;
	}
	.modal-board-qnabtn{
		margin-top:40px;
	}
	.modal-board-replybtn{
	    position: relative;
	    top: 40px;
	}
	.modal-board-qnabtn span{
		border: solid 1px;
	    padding: 25px 86px;
	    border-radius: 10px;
	    font-size: 1.4em;
	}
	.modal-board-replybtn span{
		border: solid 1px;
	    padding: 15px 105px;	
	    border-radius: 10px;
	    font-size: 1.4em;
	}
	.modal-board-qna-cancel{
	    background-color: gray;
	    color: white;
	    margin-right:5%;
	}
	.modal-board-qna-regist{
	    background-color: #F05E22;
	    color: white;
	}
	.closeQna, .closeReply{
		float: right;
    	font-size: 2em;
	}
	.udtCommentBtn, .delCommentBtn{
		padding:5px 10px;
		border: solid 1px lightgray;
	}
	
	
	.commentsTitle{
	    max-width: 250px;
	    height: 20px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.comment-table{
		width:100%;
		text-align:center;
	}
	.comment-td1{
		padding:10px;
		text-align:left;
	}
	.comment-table input{
		width:100%;
	}
	.similarBoard, .sellerOtherBoard{
		margin: 30px 6%;
	}
	.goSimilarDiv{
		width:100%;
		display:inline-flex;
	}
	.similarLeft{
		line-height: 310px;
	    font-size: 30px;
	    cursor: pointer;
	    margin-right:10px;
	}
	.similarRight{
		line-height: 310px;
	    font-size: 30px;
	    cursor: pointer;
	    margin-left: 15px;
	}
	.goSimilarBoard{
		height:350px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    padding:10px;
	}
	.box_similar{
		width:auto;
		max-width: 300px;
	    display: inline-block;	
	    
	}
	.inner_similar{
		overflow:hidden;
		border:solid 1px #dcdcdc;
		background-color: #fefefe;
	    height: 300px;
		max-height: 300px;
		box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	}
	.img_area_similar{
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
		width: 300px;
	    height: 200px;
	    overflow: hidden;
	}
	.img_area_image_similar{
		width:300px;
		height:200px;
	}
	
	
	/* 공고문 상세페이지 계약창 */
	.contract-intro{
		border-top: solid 4px #F05E22;
    	border-bottom: solid 2px #F05E22;
    	margin-bottom: 5px;
	}
	.contract-select-ul{
		list-style:none;
		padding:0;
	}
	.contract-select-li, .contract-selectType-li, .contract-selected-li{
		padding: 10px;
	}
	.contract-selectType-li{
		display:none;
	}
	.contract-select-li h5, .contract-selectType-li h5{
		margin:0;
	}
	.contract-selectType-li input{
		display: inline-block;
	    width: 15px;
	    height: 15px;
	    margin: -2px 10px 0 0;
	    vertical-align: middle;
	    cursor: pointer;
	}
	.contract-selected-li{
		font-weight:bold;
	}
	.contract-selected-li select{
		border:none;
	}
	.selectedContractType, .goContractRequest{
		float:right;
	}
	.goContract{
	    float: right;
    	padding: 5px;
	}
	.goContractRequest{
    	padding: 8px;
    	cursor:pointer;
	}
	.selectedContractType{
		color:#FFAF0A;
	}
	.modal-board-online{
		
	}
	
	
	
	/* 검색 상세 페이지 */
	.searchPage{
		width: 90%;
    	margin: 0 auto;
	}
	.searchPageHeader{
		margin-top:50px;
	}
	.searchBtn{
		text-align: right;
		margin-top:30px;
	}
	.searchBtn a{
		border: solid 2px;
	    padding: 10px 30px;
	    border-radius: 15px;
	    font-size:1.2em;
	}
	.searchResultList{
		margin-top: 30px;
    	border-top: solid 2px #F05E22;
	}
	


	.member-Type{  
	  position: relative;
	  display: inline-flex;  
	  width:450px;
	  margin: 0 auto; 
	  background: rgba(255,255,255,.1); 
	}    
	.member-Type input[type=radio]{
	  display: none; 
	}  
	.member-Type label{
	  display: inline-block;  
	  width: 200px;
	  height: 50px;
	  text-align: center; 
	  background: orange;  
	  line-height:50px;
	} 
	.toggle_option_slider{  
	  background: red;
	  width: 195px;
	  height: 50px;
	  position: absolute; 
	  top: -2px; 
	  border: solid 2px #FF3232;  
	}
	#first_toggle:checked ~ .toggle_option_slider{
	  background: rgba(255,255,255,.3);
	  left: 26px;
	}
	#second_toggle:checked ~ .toggle_option_slider{
	  background: rgba(255,255,255,.3); 
	  left: 229px; 
	}
	.login-Form{
		text-align:center;
		padding: 50px 10px; 
	}
	.login-Form input{
		border: none;
		background-color:inherit;
	}
	.login-logo #logo-login{
		width:350px;
		height:300px; 
		padding-top: 15px;
		padding-bottom: 10px; 
	}
	.login-Check{
		width:300px; 
		margin: 0 auto;
	}
	.login-Form #login-Table{
		display: inline-flex;
		margin: 1em 0em;
	}
	.login-Form tr{
		border: none;
		height:75px;  
	} 
	.login-Form #td-id{
		width:300px;
	}
	.login-Form #td-btnLogin{
		border-radius: 5px;
		background-color:#F05E22;
		width:150px; 
	}
	.inputLogin{
	    border: solid 1px;
	    padding: 30px 0px;
	    border-radius: 5px;
	}
	#td-id input, #td-pw input {  
		width:-webkit-fill-available;
		line-height:3em;
		font-size:16px; 
		padding : 5px 20px;
	}
	#td-btnLogin input {
		width:-webkit-fill-available;
		line-height:140px;
		font-size:16px;
		font-weight:bold; 
	}
	.login-Form #btnLogin{
		width:100%; 
		height:100%;
		background-color:inherit;
		color:white; 
	}
	.login-Menu ul{
		padding-left:0;
		list-style: none;  
		display:inline-block; 
		
	}
	.login-Menu ul li{
		float:left;
		padding: 0px 10px;
		font-size:15px;  
	}
	.login-Menu button{
		border:none;
		background-color:inherit;
	}
	#tableBasic, #tableBusi, #tableProd {
		border-style: solid 1px;
		table-layout: fixed;
	}
	#tableBasic td, #tableBusi td, #tableProd td {
		width:20%;
	}
	#tableBasic th, #tableBusi th, #tableProd th{
		width:20%;
		text-align:left;
	}
	#tableBasic input, #tableBusi input, #tableProd input {
		width:80%;
		text-align:right;
	}
	#tableBasic select, #tableBusi select, #tableProd select {
		width:80%;
		text-align:right;
	}
	
	/* 지도 관련 */
	.map_wrap, .map_wrap * {margin:0; padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:15px;}
	.map_wrap {position:relative;width:100%;height:350px;}
	.overlay .info {width: 350px;height:169px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .overlay .info:nth-child(1) {border: 0;box-shadow: 0px 3px 8px #888;}
    .info .title {padding: 5px 0 0 10px;height: 25px;background: #F05E22;font-size: 15px;font-weight: bold;}
    .info .closeInfo {position: absolute;top: 6px;right: 10px;color: #888;width: 17px;height: 17px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .closeInfo:hover {cursor: pointer;}
    .info .body {height:140px;position: relative;overflow: hidden;}
    .info .desc {position: relative;height: 75px;top:10px;left:150px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;font-size:13px;white-space: nowrap;}
    .desc .jibun {font-size: 13px;color: #888;margin-top: -2px;}
    .info .img {position: absolute;top: -1px;left: -1px;width: 140px;height: 140px;color: #888;overflow: hidden;}
    .img1{width:140px;height:140px;}
    .info .link {color: #5085BB;}
    .map_search_header{
   	    z-index: 1;
	    width: 100%;
	    height: 8%;
	    background-color: #FFD700;
	    position: absolute;
	    top: 0;
    }
    .map_search_header h2{
    	color: black;
	    font-size: 1.5em;
	    padding: 17px;
    }
	.map_category{
		position:absolute;
		top:15%;
		right:5%; 
		width:250px;
		height:350px;  
		z-index:1; 
		background-color:rgba(255,255,255,0.7);
	    border: solid 2px #F05E22;
    	border-radius: 8px;
	}
	.map_category ul{
		display:inline-flex; 
		list-style:none;
		padding:1px;
	}
	.map_category li{
	
	}
	.map_category button{
		border:none;
		background-color:inherit;
	}
	.map_header{
	    background-color: rgba(255,215,0,0.5);
    	width: 100%;
   	    padding-bottom: 10px;
   	    color:black;
	}
	.map_header img{
		width:50px;
	}
	.map_header button {
		float: right;
	    position: relative;
	    right: 2%;
	} 
	.map_header i{
		font-size:18px;
	}
	.category_header {
		display: -webkit-inline-box;
  		line-height: 40px;
	}
	.category_header h5{
		color:black;
	}
	.map_header span{
	    margin: 5px;
	    font-weight:bold;
	}
	.map_header input {
		border:none;
		background-color: rgba(255,255,255,0.8);
	}
	.map_header select {
		border:none;
		background-color: rgba(255,255,255,0.8);
	}
	.category_content img{
		width:50px;
		margin:0 auto;
	}
	.category_content button{
		display: inline-grid;
    	text-align: center;
    	cursor:pointer;
    	outline:0;
	}
	.map_category_btn{
		width:100%;
		height:80px;
	}
	.map_category_btn2{
		width:100%;
		height:60px;
	}
	.category_content i {
		font-size: 30px;
	}
	.map_searchList{
		width:100%;
		height:250px;
	    z-index: 1;
	    position: absolute;
	    bottom: 20%;
	    background-color:orange;
	}
	.overLay-keyword{
		font-size:10px;
		cursor:pointer;
	}
	.overLay-goBoard{
		color:yellow;
		cursor: pointer;
		font-size:13px;
	}
	.backMap{
	    position: absolute;
	    right: 20px;
	    top: 12px;
	    cursor:pointer;
	}
	.backMap i:hover{
		color:#777777;
	}
	.backMap i {
		color:black;
		font-size:30px;
	}
	
	
	/* 찜 관련 */
	.detailIcon{
	    background-color: inherit;
	    border: none;
	    position: absolute;
	    right: 5%;
	    margin-top:20px;
	    font-size:25px;
	    padding: 0 2%;
	}
	.board-content-zzim{
		background-color:inherit;
		border:none;
		padding:0;
		box-shadow: none;
	}
	.detailIcon i{
		font-size:30px;
		color:black;
	}
	.board-content-zzim i{
		color:red;
		cursor:pointer;
	}

	
	/* 계약 관리 페이지 */
	.btnOtherContract{
	    float: right;
	    position: relative;
	    bottom: 20px;
	    margin: 0;
	}
	.modal-contractDetail, .modal-contractHanasi{
		position: fixed;
	    display: block;
	    top: 50%;
	    left: 50%;
	    margin-bottom: 0px;
	    width: 80%;
	    height: 70%;
	    transform: translate(-50%, -50%);
	}
	.modal-contractHeader, .modal-hanasiHeader{
	    padding: 20px 25px 30px;
	    border-radius: 12px 12px 0 0;
	    background-color:white;
	    font-size: 20px;
	    color: white;
	    height: 40px;
	    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	}
	.closeContract, .closeHanasi{
		color: black;
	    text-decoration: none;
	    cursor: pointer;
	    float: right;
    	font-size: 2em;
   	    position: absolute;
	    right: 25px;
	    top: 25px;
	}
	.modal-contractContent{
		border-radius: 0 0 12px 12px;
	    padding: 24px 26px 26px;
	    vertical-align: middle;
	    background-color: oldlace;
	    height: 70%;
	    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	}
	.modal-hanasiContent{
	    padding: 24px 26px 26px;
	    vertical-align: middle;
	    background-color: white;
	    height: 60%;
	    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	    overflow-y:scroll;
	    overflow-x:hidden;
	    background-color:oldlace;
	}
	.modal-hanasiInput{
		border-radius: 0 0 12px 12px;
	    padding: 24px 26px 26px;
	    vertical-align: middle;
	    background-color: white;
	    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	}
	.contractHeader{
		margin:10px 0;
	    width: 85%;
	    position: absolute;
	    right: 50px;
	    top: 20px;
	    color: darkslategrey;
	}
	.imgContract{
	    position: absolute;
	    top: 5px;
	    left: 0;
	}
	.contractDetailTable{
	    width: 100%;
	    height: 100%;
	    margin: 0 auto;
	    font-size: 13px;
	}
	.contractDetailTable button{
		padding: 3px 10px;
    	margin-left: 5px;
	}
	.td-contractDetail1{
		width:50%;
		padding:10px;
	}
	.td-contractDetail2{
		width:50%;
	}
	.btnInsertOrder, .btnInsertSales, .btnInsertSold,
	.startContract, .btnInsertStock{
		cursor:pointer;
	}
	.insertDiv{
		width: 120px;
	    height: 200px;
	    background-color: white;
	    position: absolute;
	    border: solid 2px;
	    border-radius:5px;
	    box-shadow:0 3px 8px rgba(0, 0, 0, .25);
	    display:none;
	}
	.insertDiv input {
		width: 60px;
	    padding: 2px 5px;
	    margin: 2px 1px;
	}
	.insertDiv button{
		border:none;
		padding:0;
		cursor:pointer;
		outline: none;
	}
	.insertTable {
	    text-align: center;
    	width: 100%;
	}
	.insertTable button{
		padding:10px;
		background-color:white;
		box-shadow:none;
	}
	.insertDiv button{
		background-color:white;
		box-shadow:none;
	}
	.span-hanasiInput{
		padding: 5px;
    	border: solid 2px bisque;
	}
	.hanasiInputText{
		width:90%;
		border:none;
	}
	.btnHanasiInput{
        padding: 6px 15px;
	    position: relative;
	    left: 5px;
	    top: -2px;
	    border: none;
	    margin: 0;
	    background-color:bisque;
	    box-shadow: none;
	}
	.btnHansiInput i{
		color:black;
		font-size:14px;
	}
	.ul-hanasi{
		list-style:none;
		padding:0;
		display:grid;
	}
	.li-hanasi, .li-hanasiMe{
		width:100%;
		height:80px;
	}
	.hanasiTable{
	    width: 88%;
	    margin: 0 auto;
	}
	.receiveProfile{
		width:40px;
	}
	.hanasiProfile{
		width:6%;
	}
	.hanasiMessage{
		float:left;
	}
	.span-message{
		padding:10px;
		float: left;
		border-radius:10px;
		background-color:bisque;
	}
	.span-message2{
		padding:10px;
		float:right;
		border-radius:10px;
		background-color:white;
	}
	.hanasiProfile2{
		width:6%;
	}
	.hanasiMessage2{
		float:right;
	}
	.hanasiNickname{
		position:relative;
		font-weight:bold;
		bottom:15px;
		
	}
	.hanasiNickname2{
		float:right;
		position: relative;
	    left: 45px;
	    bottom: 15px;
	    font-weight:bold;
	}
	.hanasiDate{
		position: relative;
		font-size: 10px;
	    top: -5px;
	    left: 5px;
	}
	.hanasiDate2{
		position: relative;
		float:right;
	    font-size: 10px;
	    top: -5px;
	    right: 5px;
	}
	
	
	
	.li-hanasi img{
		width:40px;
	    position: relative;
    	top: 10px;
    	right:10px;
	}
	.li-hanasiMe img{
		width:40px;
	    position: relative;
    	bottom: 30px;
    	left: 70px;
	}
	.hanasiMe{
		float:right;
	}
	.hanasiNickName{
	    position: relative;
	    top: 10px;
    	right: 15px;
	}
	.myNickName{
	    position: relative;
	    top: 60px;
    	left: 65px;
	}
	.myDate{
		position: relative;
	    top: 25px;
    	right: 61px;
	}
	.hanasiContent{
		padding:10px;
		border:solid 1px;
		position: relative;
	    bottom: 90px;
    	left: 55px;
	}
	.hanasiMyContent{
		padding:10px;
		border:solid 1px;
		position: relative;
		float:right;
		left:60px;
	}