@charset "UTF-8";

html, body {
		font-size: 100%;
		width: 100%;
		height: 100%;
		margin: 0;
		vertical-align: baseline;
	}
	body {
		font: 13px/21px "Open Sans", Arial, sans-serif;
		color: #777777;
		background-color: white;
		overflow-x: hidden;
		font-style: normal;
	}
	
	a {
		color: #F05E22;
		text-decoration: none !important;
	}
	a:hover{
		color: #FFAF0A;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: "Open Sans", Arial, sans-serif;
		color: #2a3f52;
		font-weight: 700;
	}
	h1 {
		font-size: 2.6em;
	}
	
	h2 {
		font-size: 2.2em;
	}
	
	h3 {
		font-size: 1.8em;
	}
	
	h4 {
		font-size: 1.4em;
	}
	
	h5 {
		font-size: 1em;
	}
	
	h6 {
		font-size: .8em;
	}
	ul,
	ol {
		margin-top: 0;
		margin-bottom: 10px;
	}
	ul ul,
	ol ul,
	ul ol,
	ol ol { 
		margin-bottom: 0;		
	}
	 /* 헤더 관련 */
	.site-header{
		background-color:white;
		height:90px;
		width:100%;
	}
	.site-header-map{
		background-color:white;
		width:100%;
	}
	.top-header{
		position:relative;
		text-align:center;
		height:10%;
		border-bottom: 1px solid #FAF58C; 
	}
	.top-header-left{
		position:absolute;
		width:15em;
		top:50%;
		left:20%;
		transform:translate(-50%,-50%);	/* div안에 div 세로정렬하기 */
	}
	.top-header-left a{
		border-left: 1px solid #FAF58C;
		font-size:1.3em;
		padding:3%;
	}
	.top-header-left a:last-child{
		border-right: 1px solid #FAF58C;
	}
	.main-header{ 
		position:relative;
		height:40px;
	}
	.logo{
		height:100%;
		padding:8px;
		display:inline-flex;
	}
	.logo img{
		width:37px;
		height:30px;
		padding-right:5px; 
	}
	.logo a{
		margin-top:4px;
	}
	.btn-header{
		float:right;
		height:100%;  
	}
	.btn-header button{
		height:100%; 
		background-color:#FFFFFF;
		border:none;
		padding:0px 15px;
	}
	.btn-header i{
		font-size:20px; 
	}
	.main-header a{
		font-size:1.8em;
		font-weight:bold;
	}
	.main-nav{
		height:50px; 
		color: white;
		text-align: center;
	}
	.main-nav ul{
		background-color: #F05E22;
		list-style: none;
	}
	.main-nav .list-menu ul li{
		display: inline-block;
		padding: 15px 80px;
	}
	.main-nav a{
		color:white;
	}
	.main-nav .list-menu ul li a {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 700;
	}
	.main-nav .list-menu ul li a:hover {
		color: #2f4f4f;
	}
	.fixed {
		position:fixed;
		top:0px; 
	}
	/* 알림 관련 */
	.notice { 
		display:none;
		height:517px;
		width:35%;
		position: fixed;
		z-index: 3;
		top: 40px;
		right: 0;
		background-color: #FF0000;
		overflow-y: hidden;
	}
	.notice-header{
		width:100%;
		display:inline-flex;
	}
	.notice-name{
		width:80%;
		font-size:1.3em;
	}
	.notice-back{
		width:20%;
	}
	
	/* 메뉴바 관련 */
	.sidenav { 
		display:none;
		width:35%;
		height:517px;
		position: fixed;
		z-index: 3;
		top: 40px;
		right: 0;
		background-color: #F05E22;
		overflow-x: hidden;
	}
	.sidenav a {
		font-size: 1.4em;
		color: #2f4f4f;
		display: block;
		transition: 0.3s; 
		border:solid 1px;
	}
	.slideBtn {
		transition: .5s;
		position: fixed;
		right: 0;  
		font-size:30px;
		cursor:pointer;
		margin-right:10px;
	}
	.back-menu{
		float:right;
	}
	.side-login{
		background-color:white;
		height:180px;
		border:solid 1px;
		text-align:center;
	} 
	.side-login i{ 
		width:150px;
		height:150px;
		font-size:11em;  
	}
	.side-login a{
		background-color:inherit;
		font-size:1.4em;
		border:none;
	}
	.sidenav-btn{
		width:100%;
		height:100px;  
		display:inline-flex;
		text-align:center;
		border:solid 1px;  
	}
	.sidenav-btn a{
		width:25%;
	}
	.slide-btn{
		padding : 40px 0;
	}
	.sidenav-menu a{
		padding: 8px 8px 8px 32px;
	}

	.main-content{
		width:100%; 
		height:100%;
	}
	.event, .recommend-space, .recommend-seller{
		display:table;
		text-align:center; 
		margin: 3% auto; 
	}
	.event{  
		height:30%;
	}
	.event-content img{
		width:100%;
		height:100%;
	}
	.recommend-space, .recommend-seller{
		height:40%;
	}
	.event-content, .r-space-content, .r-seller-content{
		margin: 1% 0;
	}
	.r-space-table{
		text-align:center;
		margin: 0 auto; 
	}
	.r-space-table img{
		width:90%;
	}
	.r-space-table td{
		text-align:center;
	}
	.r-seller-table{
		text-align:center;
		margin: 0 auto; 
	}
	.r-seller-table img{
		width:90%;
	}
	.r-seller-table td{
		text-align:center;
	}
	
	.signUp{
		text-align:center;
	}
	.signUpProgress{
		display:inline-grid;
		width:80%;
		text-align:left;
	}
	.progressTable{
		margin:40px 0px;
		text-align:center;
		border-spacing:0px;
	}
	.td-prog{
		padding-top:15px;
		border:solid 1px;
		width:33%;
		background-color:#778899;
	}
	.ul-progress{
		padding:0;
		margin:0;
		list-style:none;
	}
	.img-progress{
		width:35px;
	}
	.progressLine{
		width:100%;
	}
	.signUpDiv{
		display:inline-grid;
		width:80%;
	}
	.extraForm{
		display:inline-grid;
	}
	.td-1{ 
		width:200px;
	}
	.td-2{
		width:300px; 
		text-align:left;
	}
	.inputNorm{
		border:solid 1px;
		padding:10px;
	} 
	.inputCen{
		border:solid 1px;
		padding:10px;
	}
	.inputtel input{
		text-align:center;
	}
	.td-2 input{
		width:300px;
		font-size:1.4em;
		border:none;
	}
	.td-2 select{
		border:none;
	}
	.td-tel{
		width:300px; 
		text-align:left;
	}
	.td-tel input{
		width:100px;
		font-size:1.4em;
		border:none;
	}
	.signUpbtn{
		padding:30px;
	}
	.signUpbtn button{
		width:50%;  
	}
	.imgs_wrap{
		display:inline-flex;
	}
	.imgs_wrap0{
		width:150px;
		height:150px; 
		border:solid 1px;
	}
	.imgs_wrap1{
		width:150px;
		height:150px; 
		border:solid 1px;
	}
	.imgs_wrap2{
		width:150px;
		height:150px; 
		border:solid 1px;
	}
	.imgs_wrap0 img{ 
		width:150px;
		height:150px;
	}
	.imgs_wrap1 img{ 
		width:150px;
		height:150px;
	}
	.imgs_wrap2 img{ 
		width:150px;
		height:150px;
	}
	
	.signEnd{
		text-align:center; 
	}
	
	
	/*제안서 관리*/
	.proposal{
		text-align:center;
		margin-top:30px;
	}
	.proposal-header{
		width:80%;
		display:inline-grid;
		text-align:left;
	}
	.proposal-explain{
		background-color:#ffa07a;
	}
	.proposalList{
		width:80%;
		display:inline-grid;
		margin-top:50px;
	}
	.btnRegistProposal{
		width:100px;
		position:absolute;
		right:10%;
	}
	.proposalDiv{
	    position: relative;
	    top: 25px;
	    margin-top: 15px;
	}
	.proposalTable{
		width:100%;
	    border-collapse: collapse;
	    border-spacing: 0;
	    empty-cells: show;
	}
	.proposalTable th{
		border-top: solid 2px;
    	border-bottom: solid 1px;
    	padding: 0;
	}
	.td-control{
		display: inline-grid;
	}
	/* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto; /* 15% from the top and centered */ 
            padding: 20px; 
            border: 1px solid #888; 
            width: 80%; /* Could be more or less, depending on screen size */                          
        }
        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .propsalBtn{
        	padding: 30px;
		    position: relative;
		    left: 350px;
        }
        .modal-proposalContent{
        	text-align:center;
        }
        .proposalDetailTable, .seller-ProposalDetail, .space-ProposalDetail{
        	text-align:left;
        }
	
	/*제안서 작성*/
	.proposalWrite{
		text-align:center;
		margin-top:30px;
	}
	.memberInfoDiv, .proposalWriteDiv, .seller-ProposalDiv{
		width:80%;
		display:inline-grid;
		margin-top:50px;
	}
	.divHeader{
		text-align:left;
	}	
	.proposalForm{
		display:inline-grid;
	}
	.proposalWriteTable .td-1{
		width:294px;
	}
	
	input[type=file] {
        display: none;
    }

    .my_button {
        display: inline-block;
        width: 100px;
        text-align: center;
        padding: 10px;
        background-color: #006BCC;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    .imgs_wrap {
        border: 2px solid #A8A8A8;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 360px;
        height: 100px;
    }
    .imgs_wrap img {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

	.member-Type{  
	  position: relative;
	  display: inline-flex;  
	  width:450px;
	  margin: 0 auto; 
	  background: rgba(255,255,255,.1); 
	}    
	.member-Type input[type=radio]{
	  display: none; 
	}  
	.member-Type label{
	  display: inline-block;  
	  width: 200px;
	  height: 50px;
	  text-align: center; 
	  background: orange;  
	  line-height:50px;
	} 
	.toggle_option_slider{  
	  background: red;
	  width: 195px;
	  height: 50px;
	  position: absolute; 
	  top: -2px; 
	  border: solid 2px #FF3232;  
	}
	#first_toggle:checked ~ .toggle_option_slider{
	  background: rgba(255,255,255,.3);
	  left: 26px;
	}
	#second_toggle:checked ~ .toggle_option_slider{
	  background: rgba(255,255,255,.3); 
	  left: 229px; 
	}
	.login-Form{
		text-align:center;
		padding: 10px 10px; 
	}
	.login-Form input{
		border: none;
		background-color:inherit;
	}
	.login-logo #logo-login{
		width:350px;
		height:300px; 
		padding-top: 15px;
		padding-bottom: 10px; 
	}
	.login-Check{
		width:300px; 
		margin: 0 auto;
	}
	.login-Form #login-Table{
		display: inline-flex;
		margin: 1em 0em;
	}
	.login-Form tr{
		border: none;
		height:75px;  
	} 
	.login-Form #td-id{
		width:300px;
	}
	.login-Form #td-btnLogin{
		border-radius: 5px;
		background-color:#F05E22;
		width:150px; 
	}
	.inputLogin{
	    border: solid 1px;
	    padding: 30px 0px;
	    border-radius: 5px;
	}
	#td-id input, #td-pw input {  
		width:-webkit-fill-available;
		line-height:3em;
		font-size:16px; 
		padding : 5px 20px;
	}
	#td-btnLogin input {
		width:-webkit-fill-available;
		line-height:140px;
		font-size:16px;
		font-weight:bold; 
	}
	.login-Form #btnLogin{
		width:100%; 
		height:100%;
		background-color:inherit;
		color:white; 
	}
	.login-Menu ul{
		padding-left:0;
		list-style: none;  
		display:inline-block; 
		
	}
	.login-Menu ul li{
		float:left;
		padding: 0px 10px;
		font-size:15px;  
	}
	.login-Menu button{
		border:none;
		background-color:inherit;
	}
	#tableBasic, #tableBusi, #tableProd {
		border-style: solid 1px;
		table-layout: fixed;
	}
	#tableBasic td, #tableBusi td, #tableProd td {
		width:20%;
	}
	#tableBasic th, #tableBusi th, #tableProd th{
		width:20%;
		text-align:left;
	}
	#tableBasic input, #tableBusi input, #tableProd input {
		width:80%;
		text-align:right;
	}
	#tableBasic select, #tableBusi select, #tableProd select {
		width:80%;
		text-align:right;
	}
	
	/* 지도 관련 */
	.map_wrap, .map_wrap * {margin:0; padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
	.map_wrap {position:relative;width:100%;height:350px;}
	.placeinfo_wrap {position:absolute;bottom:28px;left:-150px;width:300px;}
	.placeinfo {position:relative;width:100%;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;padding-bottom: 10px;background: #fff;}
	.placeinfo:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
	.placeinfo_wrap .after {content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:12px;background:url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
	.placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#fff;text-decoration: none;}
	.placeinfo a, .placeinfo span {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
	.placeinfo span {margin:5px 5px 0 5px;cursor: default;font-size:13px;}
	.placeinfo .title {font-weight: bold; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #d95050;background: #d95050 url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
	.placeinfo .tel {color:#0f7833;}
	.placeinfo .jibun {color:#999;font-size:11px;margin-top:0;}
	
	.map_category{
		position:absolute;
		top:5%;
		right:5%; 
		width:30%;
		height:30%;  
		z-index:1; 
		background-color:white;
	}
	
	.map_category ul{
		display:inline-flex; 
		list-style:none;
		padding:1px;
	}