@charset "UTF-8";
@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }
html, body {
		font-size: 100%;
		width: 100%;
		height: 100%;
		margin: 0;
		vertical-align: baseline;
	}
	body {
		font: 13px/21px  "맑은고딕", "Malgun Gothic",Dotum, "돋움", sans-serif;
		color: #777777;
		background-color: white;
		overflow-x: hidden;
		font-style: normal;
	}
	i{
		color: #F05E22;
	}
	a {
		color: #F05E22;
		text-decoration: none !important;
	}
	a:hover{
		color: #FFAF0A;
	}
	button{
		background-color:white;
	    padding: 0 10px;
    	border: 1px solid #c6c6c6;
    	border-radius:2px;
    	margin-bottom: 5px;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: "Open Sans", Arial, sans-serif;
		color: #2a3f52;
		font-weight: 700;
	}
	h1 {
		font-size: 2.6em;
	}
	
	h2 {
		font-size: 2.2em;
	}
	
	h3 {
		font-size: 1.8em;
	}
	
	h4 {
		font-size: 1.4em;
	}
	
	h5 {
		font-size: 1em;
	}
	
	h6 {
		font-size: .8em;
	}
	ul,
	ol {
		margin-top: 0;
		margin-bottom: 10px;
	}
	ul ul,
	ol ul,
	ul ol,
	ol ol { 
		margin-bottom: 0;		
	}
	.wrap{
		width: 100%;
    	height: 100%;
	}
	 /* 헤더 관련 */
	.site-header{
		height:90px;
		width:100%;
		z-index:2;
	}
	.goBoard{
		height:42px;
		width:100%;
		z-index:2;
	}
	.site-header-map{
		background-color:white;
		width:100%;
	}
	.top-header{
		position:relative;
		text-align:center;
		height:10%;
		border-bottom: 1px solid #FAF58C; 
	}
	.top-header-left{
		position:absolute;
		width:15em;
		top:50%;
		left:20%;
		transform:translate(-50%,-50%);	/* div안에 div 세로정렬하기 */
	}
	.top-header-left a{
		border-left: 1px solid #FAF58C;
		font-size:1.3em;
		padding:3%;
	}
	.top-header-left a:last-child{
		border-right: 1px solid #FAF58C;
	}
	.main-header{ 
		position:relative;
		height:40px;
	    border-bottom: solid #F05E22;
	    background-color:white;
	}
	.logo{
		height:100%;
		padding:8px;
		display:inline-flex;
	}
	.logo img{
		width:37px;
		height:30px;
	}
	.logo a{
		margin-top:4px;
	}
	.btn-header{
		float:right;
		height:100%;  
	}
	.btn-header button{
		height:100%; 
		background-color:inherit;
		border:none;
		padding:0px 15px;
	}
	.btn-header i{
		font-size:20px; 
		color:black;
	}
	.main-header a{
		font-size:1.8em;
		font-family: 'BMJUA';
	}
	.main-nav{
		height:50px; 
		color: white;
		text-align: center;
	}
	.main-nav ul{
		background-color: #F05E22;
		list-style: none;
	}
	.main-nav .list-menu ul li{
		display: inline-block;
		padding: 15px 80px;
	}
	.main-nav a{
		color:white;
	}
	.main-nav .list-menu ul li a {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 700;
	}
	.main-nav .list-menu ul li a:hover {
		color: #2f4f4f;
	}
	.fixed {
		position:fixed;
		top:0px; 
	}
	
	/* 푸터 관련 */
	.site-footer{
		display: block;
	    position: relative;
	    height:150px;
	    margin-top:50px;
	    background-color: #ebebeb;
	    color: #656565;
	}
	.site-footer img{
		width:100px;
		padding:18px;
	}
	
	/* 알림 관련 */
	.notice { 
		display:none;
		height:517px;
		width:35%;
		position: fixed;
		z-index: 3;
		top: 40px;
		right: 0;
		background-color: #FF0000;
		overflow-y: hidden;
	}
	.notice-header{
		width:100%;
		display:inline-flex;
	}
	.notice-name{
		width:80%;
		font-size:1.3em;
	}
	.notice-back{
		width:20%;
	}
	
	/* 메뉴바 관련 */
	.sidenav { 
		display:none;
		width:35%;
		height:517px;
		position: fixed;
		z-index: 3;
		top: 40px;
		right: 0;
		background-color: #F05E22;
		overflow-x: hidden;
	}
	.sidenav a {
		font-size: 1.4em;
		color: #2f4f4f;
		display: block;
		transition: 0.3s; 
		border:solid 1px;
	}
	.slideBtn {
		transition: .5s;
		position: fixed;
		right: 0;  
		font-size:30px;
		cursor:pointer;
		margin-right:10px;
	}
	.back-menu{
		float:right;
	}
	.side-login{
		background-color:white;
		height:180px;
		border:solid 1px;
		text-align:center;
	} 
	.side-login i{ 
		width:150px;
		height:150px;
		font-size:11em;  
		color:gray;
	}
	.side-login a{
		background-color:inherit;
		font-size:1.4em;
		border:none;
	}
	.sidenav-btn{
		width:100%;
		height:100px;  
		display:inline-flex;
		text-align:center;
		border:solid 1px;  
	}
	.sidenav-btn a{
		width:25%;
	}
	.slide-btn{
		padding : 40px 0;
	}
	.sidenav-menu a{
		padding: 8px 8px 8px 32px;
	}

	.main-content{
		width:100%; 
		min-height: 100%;
	    height: auto !important;
	    height: 100%;
	}
	.event, .boardDetail-image {
		display:table;
		text-align:center; 
		margin: 0 auto; 
		width:100%;
		height:30%;
		position:relative;
	}
	.event-content{
		width:100%;
		height:400px;
		overflow:hidden;
	}
	.board-content-image{
		width:100%;
		height:300px;
		overflow:hidden;
	}
	.event-ul, .board-content-image-ul{
		list-style: none;
	    width: 500%;
	    margin: 0;
	    padding: 0;
	    position: relative;
	}
	.board-content-image-ul{
		top:-100px;
	}
	.event-li, .board-content-image-li{
		width:100%;
	}
	.event-content img, .board-content-image img{
		width: 20%; 
		float: left;
		height:100%;
		min-height: 300px;
	}
	.event-slider a, .board-content-image-slider a{
		position: absolute;
	    height: 100%;
	    width: 50px;
	    top: 0;
	    z-index:1;
	}
	.event-slider #event-slider-left, .board-content-image-slider #board-content-image-slider-left{
		left:0;
	}
	.event-slider #event-slider-right, .board-content-image-slider #board-content-image-slider-right{
		right:0;
	}
	.event-slider i{
		font-size:2.2em;
		position: relative;
    	top: 175px;
    	color:rgba(255,255,255,0.2);
	}
	.board-content-image-slider i{
		font-size:2.2em;
		position: relative;
    	top: 135px;
    	color:rgba(255,255,255,0.2);
	}
	
	
	.signUp{
		text-align:center;
	}
	.signUpProgress{
		display:inline-grid;
		width:80%;
		text-align:left;
	}
	.progressTable{
		margin:40px 0px;
		text-align:center;
		border-spacing:0px;
	}
	.td-prog{
		padding-top:15px;
		border:solid 1px;
		width:33%;
		background-color:#778899;
	}
	.ul-progress{
		padding:0;
		margin:0;
		list-style:none;
	}
	.img-progress{
		width:35px;
	}
	.progressLine{
		width:100%;
	}
	.signUpDiv{
		display:inline-grid;
		width:80%;
	}
	.extraForm{
		display:inline-grid;
	}
	.td-1{ 
		width:100px;
	}
	.td-2{
		width:300px; 
		text-align:left;
	}
	/*키워드*/
	.td-keyword1{
		width:170px;
	    padding: 10px 0 210px 0;
	}
	.td-keyword2{
		width:300px; 
	    padding: 10px 0 50px 0;
	}
	.ul-keyword, .ul-contractPeriod, .ul-offday{
		list-style:none;
		display: contents;
	}
	.li-keyword{
		float: left;
	    width: 150px;
	    padding: 10px 15px 10px 1px;
	    text-align: center;
	}
	.span-keyword, .span-type{
	    border: solid 1px;
        padding: 5px 10px;
	    border-radius: 3px;
	    display: block;
	    width: 120px;
	    height: 30px;
	    line-height: 30px;
	}
	.span-keyword i, .span-type i{
		color:gray;
	}
	.span-keyword a, .span-type a{
	    padding: 5px 5px;
	    color:gray;
	}
	#keywordRegist, #typeRegist{
		margin-left:5px;
		margin-right:10px;
	}
	#keywordSelected .td-2 button,
	#typeSelected .td-2 button{
		margin-right:10px;
	}
	#keywordSelected .td-2 a,
	#typeSelected .td-2 a{
		color:gray;
	}
	#keywordDetail{
		display:inline-flex;
		margin-top: 15px;
		width:500px;
	}
	.keywordSpan{
    	height: 25px;
	    border: solid 1px #F05E22;
	    padding: 5px 20px;
	    margin: 5px 5px;
	    border-radius: 10px;
	    background-color: #F05E22;
	    color: white;
	}
	.keywordSpan a{
		color:white;
		font-weight:bold;
	}
	
	
	.signUpMsg{
		margin:5px;
	}
	.img-pw{
		width:20px;
	}
	.inputNorm{
		border:solid 1px;
		padding:10px;
	} 
	.inputCen{
		border:solid 1px;
		padding:10px;
	}
	.inputtel input{
		text-align:center;
	}
	.td-2 input{
		width:300px;
		font-size:1.4em;
		border:none;
	}
	.td-2 select{
		border:none;
	}
	.td-tel{
		width:300px; 
		text-align:left;
	}
	.td-tel input{
		width:100px;
		font-size:1.4em;
		border:none;
	}
	.signUpbtn{
    	width: 80%;
	}
	.signUpbtn button{
		width:50%;  
	}
	.imgs_wrap{
		display:inline-flex;
	}
	.imgs_wrap0{
		width:150px;
		height:150px; 
		border:solid 1px;
	}
	.imgs_wrap1{
		width:150px;
		height:150px; 
		border:solid 1px;
	}
	.imgs_wrap2{
		width:150px;
		height:150px; 
		border:solid 1px;
	}
	.imgs_wrap0 img{ 
		width:150px;
		height:150px;
	}
	.imgs_wrap1 img{ 
		width:150px;
		height:150px;
	}
	.imgs_wrap2 img{ 
		width:150px;
		height:150px;
	}
	
	.signEnd{
		text-align:center; 
	}
	
	
	/*제안서 관리, 공고문 관리*/
	.proposal, .userBoard{
		text-align:center;
		margin-top:50px;
	}
	.proposal-header, .userBoard-header{
		width:80%;
		display:inline-grid;
		text-align:left;
	}
	.proposal-explain, .userBoard-explain{
		background-color:#ffa07a;
	}
	.proposalList, .userBoardList{
		width:80%;
		display:inline-grid;
		margin-top:50px;
	}
	.btnRegistProposal, .btnRegistBoard {
		width:110px;
		position:absolute;
		right:10%;
		padding:3px 10px;
	}
	.proposalDiv, .userBoardDiv{
	    position: relative;
	    top: 25px;
	    margin-top: 15px;
	}
	.proposalTable, .proposalTable2, .userBoardTable{
		width:100%;
	    border-collapse: collapse;
	    border-spacing: 0;
	    empty-cells: show;
	}
	.proposalTable th, .proposalTable2 th, .userBoardTable th{
		border-top: solid 2px;
    	border-bottom: solid 1px;
    	padding: 0;
	}
	.proposal-tr, .userBoard-tr{
		border-bottom: solid 1px gray;
	}
	.proposal-td-1, .userBoard-td-1{
		width:40%;
	}
	.proposal-td-2, .userBoard-td-2{
		width:30%;
	}
	.proposal-td-3, .userBoard-td-3{
		width:20%;
	}
	.td-control{
		display: inline-grid;
		padding: 5px;
	}
	.registbtn{
		padding: 30px;
	    display: inline-flex;
	    width: 80%;
	}
	
	/*제안서작성*/
	.proposal-write{
	    width: 80%;
	    text-align: center;
	    margin: 0 auto;
	}
	#proposalWriteForm{
		width:100%;
	}
	.titleCheck{
		color: red;
	    font-weight: bold;
	    margin-top: 20px;
	}
	
	
	
	/* The Modal (background) */
	.modal {
	    display: none; /* Hidden by default */
	 position: fixed; /* Stay in place */
	 z-index: 1; /* Sit on top */
	 left: 0;
	 top: 0;
	 width: 100%; /* Full width */
	 height: 100%; /* Full height */
	 overflow: auto; /* Enable scroll if needed */
	 background-color: rgb(0,0,0); /* Fallback color */
	 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 5% auto; /* 15% from the top and centered */ 
		padding: 30px; 
		border: 1px solid #888; 
		width: 85%; /* Could be more or less, depending on screen size */                          
	}
	/* The Close Button */
	.close, .close2, .closeQna {
	    color: #aaa;
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	    padding-bottom:10px;
	}
	.closeQna{
		color:white;
	}
	.close:hover,
	.close:focus,
	.close2:hover,
	.close2:focus,
	.closeQna:hover,
	.closeQna:focus {
	    color: black;
	    text-decoration: none;
	    cursor: pointer;
	}
	.closeQna:hover,
	.closeQna:focus{
	}
	.proposalBtn{
		position: relative;
		text-align:right;
	}
	.modal-proposalContent, .modal-userBoard-proposalListContent{
		text-align:center;
	}
	.boardWriteContent, .proposalWriteContent{
	    display: inline-block;
    	text-align: left;
	}
	.boardWriteContent h4, .proposalWriteContent h4{
		margin-bottom:0;
	}
	.boardWriteContent input, .proposalWriteContent input{
		border:none;
	}
	.boardWriteContent #title, .proposalWriteContent #title{
		width:633px;
	}
	.contractPeriod{
		margin-top:10px;
	}
	.ul-contractPeriod{
		list-style:none;
		display: contents;
	}
	.li-contractPeriod{
		float: left;
	    text-align: center;
	}
	.span-contractPeriod{
		border: solid 1px;
        padding: 5px 10px;
	    border-radius: 3px;
	    display: block;
	}
	.span-contractPeriod i{
		color:gray;
	}
	.span-contractPeriod a{
	    color:gray;
	}
	.offday{
		margin-top:10px;
	}
	.ul-offday{
		list-style:none;
		display: contents;
	}
	.li-offday{
		float: left;
	    text-align: center;
	}
	.span-offday{
		border: solid 1px;
        padding: 5px 10px;
	    border-radius: 3px;
	    display: block;
	}
	.span-offday i{
		color:gray;
	}
	.span-offday a{
	    color:gray;
	}
	.btnBoardWrite{
		margin-top:1.33em;
		float:right;
	}
	.typeTable-bw{
		width:100%;
		margin-top:20px;
	}
	.keywordTable-bw{
		width:100%;
	}
	.keywordTable-bw .td-keyword2{
		width:510px;
		padding:0;
	}
	.proposalDetail{
	    width: 90%;
    	margin: 0 auto;
	}
	.proposalDetailTable, .seller-ProposalDetail, .space-ProposalDetail{
		text-align:left;
		width:100%;
	}
	.proposalDetailTable #keywordDetail{
		width:580px;
	}
	.proposal-image{
		width: 100%;
	    height: 250px;
	    display: inline-flex;
	    margin-top: 20px;
	}
	.proposal-image1, .proposal-image2,
	.proposal-image3{
		width: 250px;
	}
	.proposal-image1 img, .proposal-image2 img,
	.proposal-image3 img{
		width: 100%;
		height:100%;
	}
	
	
	/*제안서 작성*/
	.proposalWrite{
		text-align:center;
		margin-top:30px;
	}
	.memberInfoDiv, .proposalWriteDiv, .seller-ProposalDiv{
		width:80%;
		display:inline-grid;
		margin-top:50px;
	}
	.divHeader{
		text-align:left;
	}	
	.proposalForm{
		display:inline-grid;
	}
	
	input[type=file] {
        display: none;
    }

    .my_button {
        display: inline-block;
        width: 100px;
        text-align: center;
        padding: 10px;
        background-color: #F05E22;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    .imgs_wrap {
        border: 2px solid #A8A8A8;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 360px;
        height: 100px;
    }
    .imgs_wrap img {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    
    
    /*게시판*/
    .r-bSeller, .r-bSpace, .r-bProduct,
    .bSeller, .bSpace, .bProduct{
    	width:90%;
    	height:auto;
		margin: 10px 5%;
    }
    .r-bSeller-header, .r-bSpace-header, .r-bProduct-header,
    .bSeller-header, .bSpace-header, .bProduct-header{
		margin:0 auto;
	}
    .r-bSeller-content, .r-bSpace-content, .r-bProduct-content{
    	width: auto;
	    display: block;
    }
    .bSeller-content, .bSpace-content, .bProduct-content{
   	    width: auto;
	    display: block;
    }
	.box_seller, .box_space, .box_product{
		width:auto;
		max-width: 350px;
		padding:3%;
	    display: inline-block;
	}
	.inner{
		overflow:hidden;
		border:solid 1px #dcdcdc;
		background-color: #fefefe;
	}    
	.img_border{
	    width: 350px;
	    height: 200px;
	    overflow: hidden;
	}
	.img_area, .info_area{
		text-align:center;
	}
    .img_area_image{
    	width:20%;
    	height:200px;
    	overflow:hidden;
    	float:left;
    }
    .img_area_button{
    	display: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
    }
	.img_area {
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
		width: 350px;
	    height: 200px;
	    overflow: hidden;
	}
	.aaa {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
	}
    .board-ul{
   	    list-style: none;
   	    width:500%;
	    margin: 0;
	    padding: 0;
	    position: relative;
    }
    .board-li{
    	width:100%;
    }
    .board-img-slider{
    	height:0;
    	display:none;
    	transition:0.5s
    }
    .board-img-slider-btn{
    	width:50px;
    	height:200px;
    	position:relative;
    	top:-200px;
    	border: none;
    	overflow: hidden;
    	cursor:pointer;
    	outline:0;
    }
    .board-img-slider-btn i{
    	color:white;
    }
    .board-img-slider #slide-left{
    	background: linear-gradient(to left, rgba( 255,255,255, 0.2 ), rgba( 125,125,125, 0.4 ));
    }
    .board-img-slider #slide-right{
    	left:245px;
    	background: linear-gradient(to left, rgba( 125,125,125, 0.4 ), rgba( 255,255,255, 0.2 ));
    }
    .board-img-slider a{
	    height: 100%;
	    width: 50px;
	    top: -105px;
	    z-index:1;
    }
    .board-img-slider-left{
    	background: linear-gradient(to left, rgba( 255,255,255, 0.2 ), rgba( 125,125,125, 0.4 ));
    }
    .board-img-slider-right{
   	    left:245px;
    	background: linear-gradient(to left, rgba( 125,125,125, 0.4 ), rgba( 255,255,255, 0.2 ));
    }
    .board-img-slider i{
		font-size:1.8em;
		position: relative;
	}
    .info_area{
    	border-top: solid 1px #dcdcdc;
    	text-align:left;
    }
    .info_area h4{
    	margin: 15px;
    }
    .tag_area{
    
    }
    .tag_area h5{
    	margin: 15px;
    }
    .tag_area a{
    	margin : 0 5px;
    }
    
    /* 공고문 상세 페이지 */
    .board{
    	width:55%;
    	height:auto;
  	    padding: 10px;
  	    margin: 30px 5%;
    }
    .contractWindow, .contractWindow2{
   	    width: 28%;
	    height: 450px;
	    position: absolute;
	    top: 380px;
	    right: 5%;
	    padding:2%;
    }
    .fixed-contract{
    	position:fixed;
    	top:60px;
    }
    .board-title{
    	font-weight:400;
    }
    .type{
    	font-size:1.4em;
    }
	.board-keyword{
	    border: solid 1px;
	    border-radius: 10px;
	    padding: 5px;
	    margin-right: 5px;
	}
	.board-content{
		margin-top:50px;
	}
	.board-h{
		margin-top:
		margin-bottom:15px;
	}
	.board-hr{
	    width: 50px;
	    height: 4px;
	    left: 0;
	    display: inline-block;
	    border: none;
		background-color:#F05E22;
	}
	.board-image{
		width:100%;
		height:250px;
		display:inline-flex;
		margin-top:20px;
	}
	.board-image1, .board-image2, .board-image3{
		width:300px;
	}
	.board-img{
		width:100%;
	}
	#staticMap{
		width:550px;
		height:350px;
	}
	/* 이용후기 */
	.board-comment-write{
	    position: relative;
	    left: 85%;
	    top: 45px;
	    padding: 10px;
	    border: solid 1px;
	    border-radius: 30px;
	}
	.modal-board-qna{
		position: fixed;
	    display: block;
	    top: 50%;
	    left: 50%;
	    margin-bottom: 0px;
	    width: 510px;
	    height: 400px;
	    transform: translate(-50%, -50%);
	}
	.modal-board-qnaHeader{
		padding: 20px 25px;
	    border-radius: 12px 12px 0 0;
	    background: #F05E22;
	    font-size: 20px; 
	    color: white;
	    height:40px;
	}
	.modal-board-qnaContent{
	    border-radius: 0 0 12px 12px;
	    padding: 24px 26px 26px;
	    vertical-align: middle;
	    background-color:white;
        height: 280px;
	}
	.modal-board-qnaInsert{
	    margin-top: 0;
    	border-top: 0;
   	    padding: 0;
   	    width: 90%;
	}
	.modal-board-qnaHead{
		vertical-align: top;
		width:100%;
		padding-bottom: 15px;
		font-size: 20px;
	}
	.qnaInserTextarea{
		height: 125px;
	    display: inline-block;
	    position: relative;
	    width: 100%;
	    background-color: white;
	    padding: 15px 16px;
   		vertical-align: top;
   		font-size: 14px;
	}
	.modal-board-qnabtn{
		margin-top:40px;
	}
	.modal-board-qnabtn span{
		border: solid 1px;
	    padding: 25px 86px;
	    border-radius: 10px;
	    font-size: 1.4em;
	}
	.modal-board-qna-cancel{
	    background-color: gray;
	    color: white;
	    margin-right:5%;
	}
	.modal-board-qna-regist{
	    background-color: #F05E22;
	    color: white;
	}
	.closeQna{
		float: right;
    	font-size: 2em;
	}
	
	
	.comment-table{
		width:100%;
		text-align:center;
	}
	.comment-td1{
		padding:10px;
		text-align:left;
	}
	.comment-table input{
		width:100%;
	}
	.similarBoard, .sellerOtherBoard{
		margin: 30px 6%;
	}
	
	/* 공고문 상세페이지 계약창 */
	.contract-intro{
		border-top: solid 4px #F05E22;
    	border-bottom: solid 2px #F05E22;
    	margin-bottom: 5px;
	}
	.contract-select-ul{
		list-style:none;
		padding:0;
	}
	.contract-select-li, .contract-selectType-li, .contract-selected-li{
		padding: 10px;
	}
	.contract-selectType-li{
		display:none;
	}
	.contract-select-li h5, .contract-selectType-li h5{
		margin:0;
	}
	.contract-selectType-li input{
		display: inline-block;
	    width: 15px;
	    height: 15px;
	    margin: -2px 10px 0 0;
	    vertical-align: middle;
	    cursor: pointer;
	}
	.contract-selected-li{
		font-weight:bold;
	}
	.contract-selected-li select{
		border:none;
	}
	.selectedContractType, .goContract{
		float:right;
	}
	.goContract{
	    border: solid 1px #F05E22;
    	padding: 8px;
	}
	.selectedContractType{
		color:#FFAF0A;
	}
	



	.member-Type{  
	  position: relative;
	  display: inline-flex;  
	  width:450px;
	  margin: 0 auto; 
	  background: rgba(255,255,255,.1); 
	}    
	.member-Type input[type=radio]{
	  display: none; 
	}  
	.member-Type label{
	  display: inline-block;  
	  width: 200px;
	  height: 50px;
	  text-align: center; 
	  background: orange;  
	  line-height:50px;
	} 
	.toggle_option_slider{  
	  background: red;
	  width: 195px;
	  height: 50px;
	  position: absolute; 
	  top: -2px; 
	  border: solid 2px #FF3232;  
	}
	#first_toggle:checked ~ .toggle_option_slider{
	  background: rgba(255,255,255,.3);
	  left: 26px;
	}
	#second_toggle:checked ~ .toggle_option_slider{
	  background: rgba(255,255,255,.3); 
	  left: 229px; 
	}
	.login-Form{
		text-align:center;
		padding: 50px 10px; 
	}
	.login-Form input{
		border: none;
		background-color:inherit;
	}
	.login-logo #logo-login{
		width:350px;
		height:300px; 
		padding-top: 15px;
		padding-bottom: 10px; 
	}
	.login-Check{
		width:300px; 
		margin: 0 auto;
	}
	.login-Form #login-Table{
		display: inline-flex;
		margin: 1em 0em;
	}
	.login-Form tr{
		border: none;
		height:75px;  
	} 
	.login-Form #td-id{
		width:300px;
	}
	.login-Form #td-btnLogin{
		border-radius: 5px;
		background-color:#F05E22;
		width:150px; 
	}
	.inputLogin{
	    border: solid 1px;
	    padding: 30px 0px;
	    border-radius: 5px;
	}
	#td-id input, #td-pw input {  
		width:-webkit-fill-available;
		line-height:3em;
		font-size:16px; 
		padding : 5px 20px;
	}
	#td-btnLogin input {
		width:-webkit-fill-available;
		line-height:140px;
		font-size:16px;
		font-weight:bold; 
	}
	.login-Form #btnLogin{
		width:100%; 
		height:100%;
		background-color:inherit;
		color:white; 
	}
	.login-Menu ul{
		padding-left:0;
		list-style: none;  
		display:inline-block; 
		
	}
	.login-Menu ul li{
		float:left;
		padding: 0px 10px;
		font-size:15px;  
	}
	.login-Menu button{
		border:none;
		background-color:inherit;
	}
	#tableBasic, #tableBusi, #tableProd {
		border-style: solid 1px;
		table-layout: fixed;
	}
	#tableBasic td, #tableBusi td, #tableProd td {
		width:20%;
	}
	#tableBasic th, #tableBusi th, #tableProd th{
		width:20%;
		text-align:left;
	}
	#tableBasic input, #tableBusi input, #tableProd input {
		width:80%;
		text-align:right;
	}
	#tableBasic select, #tableBusi select, #tableProd select {
		width:80%;
		text-align:right;
	}
	
	/* 지도 관련 */
	.map_wrap, .map_wrap * {margin:0; padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
	.map_wrap {position:relative;width:100%;height:350px;}
	.placeinfo_wrap {position:absolute;bottom:28px;left:-150px;width:300px;}
	.placeinfo {position:relative;width:100%;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;padding-bottom: 10px;background: #fff;}
	.placeinfo:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
	.placeinfo_wrap .after {content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:12px;background:url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
	.placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#fff;text-decoration: none;}
	.placeinfo a, .placeinfo span {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
	.placeinfo span {margin:5px 5px 0 5px;cursor: default;font-size:13px;}
	.placeinfo .title {font-weight: bold; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #d95050;background: #d95050 url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
	.placeinfo .tel {color:#0f7833;}
	.placeinfo .jibun {color:#999;font-size:11px;margin-top:0;}
	
	.map_category{
		position:absolute;
		top:5%;
		right:5%; 
		width:30%;
		height:30%;  
		z-index:1; 
		background-color:white;
	}
	
	.map_category ul{
		display:inline-flex; 
		list-style:none;
		padding:1px;
	}