<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="com.scit.flee2.dao.MemberMapper">
<select id="searchSpace" parameterType="Space" resultType="Space">
SELECT * FROM WOW_SPACEINFO
WHERE SPACENAME=#{spacename}
</select>
	
	<insert id="insertMember" parameterType="Member">
	INSERT INTO WOW_MEMBERINFO
	(ID, PW, NAME, NICKNAME, PHONE, EMAIL, BIRTHDATE, GENDER, ADDRESS1, ADDRESS2, MEMBERTYPE)
	VALUES
	(#{id}, #{pw}, #{name}, #{nickname}, #{phone}, #{email}, #{birthdate}, #{gender}, #{address1}, #{address2}, #{membertype})
	</insert>
	
	<select id="loginMember" parameterType="Member" resultType="Member">
	SELECT
	ID, PW, NAME, NICKNAME, PHONE, EMAIL, BIRTHDATE, GENDER, ADDRESS1, ADDRESS2, DECODE(MEMBERTYPE,'seller','셀러','space','공간제공자','user','일반사용자') AS MEMBERTYPE
	FROM WOW_MEMBERINFO
	WHERE ID=#{id} AND PW=#{pw}
	</select>
	
	<delete id="deleteMember" parameterType="String">
	DELETE FROM WOW_MEMBERINFO
	WHERE ID=#{id}
	</delete>
	
	<insert id="insertSpace" parameterType="Space">
	INSERT INTO WOW_SPACEINFO
	(SPACENUM, ID, SPACENAME, SPACE_TYPE1, SPACE_TYPE2, SPACE_TYPE3, KEYWORD, IMAGE, TEL, COMMENTS, LATITUDE, LONGITUDE)
	VALUES
	(WOW_SPACENUM_SEQ.NEXTVAL, #{id}, #{spacename}, #{space_type1}, #{space_type2}, #{space_type3}, #{keyword}, #{image}, #{tel}, #{comments}, #{latitude}, #{longitude})
	</insert>
	
	<insert id="insertSeller" parameterType="Seller">
	INSERT INTO WOW_SELLERINFO
	(SELLERNUM, ID, SELLERNAME, TEL, COMMENTS)
	VALUES
	(WOW_SELLERNUM_SEQ.NEXTVAL, #{id}, #{sellername}, #{tel}, #{comments})
	</insert>
	
	<insert id="insertProduct" parameterType="Product">
	INSERT INTO WOW_PRODUCTINFO
	(PRODUCTNUM, SELLERNUM, ID, PRODUCTNAME, PROD_TYPE1, PROD_TYPE2, PROD_TYPE3, KEYWORD, IMAGE)
	VALUES
	(WOW_PRODUCTNUM_SEQ.NEXTVAL, (SELECT SELLERNUM FROM WOW_SELLERINFO WHERE ID = #{id}), #{id}, #{productname}, #{prod_type1}, #{prod_type2}, #{prod_type3}, #{keyword}, #{image})
	</insert>
	
	<select id="checkId" parameterType="String" resultType="String">
	SELECT ID FROM WOW_MEMBERINFO
	WHERE ID=#{id}
	</select>
	
	<select id="findId" parameterType="Member" resultType="String">
	SELECT ID FROM WOW_MEMBERINFO
	WHERE NAME=#{name} AND email=#{email}
	</select>

	<select id="findPw" parameterType="Member" resultType="String">
	SELECT PW FROM WOW_MEMBERINFO
	WHERE ID=#{id} AND NAME=#{name} AND email=#{email}
	</select>
</mapper>
